{% extends "base.html" %}

{% block content %}
    <h3>Add link</h3>
{#    {% if form.errors %}#}
{#        <ul>#}
{#        {% for error in form.errors %}#}
{#            <li>{{ error }}</li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
    <form action="" class="form-list" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" class="button">
    </form>

    <h1>Links List</h1>
    {% if link_list %}
        <ul>
            {% for link_obj in link_list %}
                <li>
                    {{ forloop.counter }}. {{ link_obj.link }} - {{ link_obj.category.name }} {{ link_obj.author.username }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no links.</p>
    {% endif %}
{#    <div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}
{% endblock %}