{% extends "base.html" %}

{% block content %}
    <h3>Add category</h3>
{#    {% if form.errors %}#}
{#        <ul>#}
{#        {% for error in form.errors %}#}
{#            <li>{{ error }}</li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
    <form action="" class="form-category" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" class="button">
    </form>

    <h1>Category List</h1>
    {% if category_list %}
        <ul>
            {% for category in category_list %}
                <li>
                    {{ forloop.counter }}. {{ category.name }} - {{ category.domain }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no category.</p>
    {% endif %}
{% endblock %}
